.Text-bg {
    font-size: var(--font-h1);
    opacity: 0.5;
    font-weight: 800;
    writing-mode: vertical-lr;
    color: var(--color-white);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.Text-bg--right {
    color: var(--color-gray-1);
    left: auto;
    opacity: 0.4;
    right: 0;
}
